<div class="row">
  <div class="col p-0">
    <ul class="list-group list-group-horizontal">
      <li
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="list-group-item flex-fill"
      >
        Buscar por País
      </li>
      <li
        routerLink="descripcion"
        routerLinkActive="active"
        class="list-group-item flex-fill"
      >
        Descripción
      </li>
      <li
        routerLink="noticias"
        routerLinkActive="active"
        class="list-group-item flex-fill"
      >
        Noticias
      </li>
      <li
        routerLink="moneda"
        routerLinkActive="active"
        class="list-group-item flex-fill"
      >
        Moneda
      </li>
      <li
        routerLink="clima"
        routerLinkActive="active"
        class="list-group-item flex-fill"
      >
        Clima
      </li>
    </ul>
  </div>
</div>
