<hr />
<div class="row">
  <div class="col">
    <app-country-input (onEnter)="buscar($event)"></app-country-input>
  </div>
</div>
<hr />
<div *ngIf="isError" class="alert alert-danger">
  No se encontro nada con el termino {{ termino }}.
</div>

<div *ngIf="countries.length > 0" class="row">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>

<!-- <select name="" id="" class="form-select">
  <option value="">--Selecciona País--</option>
  <option [value]="pais" *ngFor="let pais of paises">
    {{ pais }}
  </option>
</select> -->
